<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solar Monitoring System</title>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>
  <div id="root"></div>

  <!-- React libraries -->
  <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <!-- Load your React components -->
  <script type="text/babel" src="js/App.jsx"></script>
  <script type="text/babel" src="js/AuthService.js"></script>
  <script type="text/babel" src="js/Login.jsx"></script>

  <!-- Initialize the app -->
  <script type="text/babel">
    ReactDOM.render(
      <React.StrictMode>
        <App />
      </React.StrictMode>,
      document.getElementById('root')
    );
  </script>
</body>

</html>